<html>


<title></title>
<div class="container">
  <h1>Registration Numbers</h1>
  <form class="" action="/reg_numbers" method="post">
    <input class="myTextarea" type="text" name="input" value="" placeholder="eg. CA 123-456" pattern="[A-Z]{2,3}\s\d{3}\W\d{3}"
      maxlength="12" required></input>
    <div class="button1">
      <button type="submit" onclick="" class="adding" value="Reset">ADD</button>
      <a href="/removeTowns">
        Reset {{!-- <button class="Reseting button button-primary" type="submit" value="Reset">CLEAR</button> --}}
      </a>
    </div>
  </form>
  <div class="options">
    <form class="" action="/filTowns" method="post">
      <div class="dropDown">
        <p>FILTER REGNUMBERS</p>
        <select onchange="submit()" class="places" name="tNames">
          <option name='tNames' value="allTown"> all Towns</option>
          {{#each towns}}
          <option value="{{town_reg}}" name='tNames' {{chosen}}>{{town_reg}} </option>
          {{/each}}
        </select>
      </div>

  </div>
  </form>
  <div>
    {{#each reg}}
    <li>{{town_reg}}</li>
    {{/each}}
  </div>
  <div>
    {{!--
    <ul> --}} {{#each number_plate}}
      <ul>
        {{registration_numbers}}
      </ul>
      {{/each}} {{!--
    </ul> --}}
  </div>
</div>

</html>